* {
    box-sizing: border-box;
}

body {
    background: black !important;
    color: white !important;
}

.navbar {
    background-color: #252428;
    color: #FFFFFF;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.site-header {
    padding: 0 35px;
}

.alpha-header {
    /* width: 100%; */
}

.navbar-collapse {
    justify-content: space-evenly;
    text-transform: capitalize;
}

.navbar-nav {

    text-transform: uppercase;
}

.nav-link {
    color: white !important;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    padding: 40px 0 !important;
    position: relative;


}

.nav-item {
    color: #032e42 !important;
}

.nav-item :hover {
    border-bottom: 2px solid #0057FC;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: white !important;

}

.nav-item ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top-width: 0.143em;
    border-top-style: solid;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-color: #0057fc;
}


.schedule_btn {
    margin-left: 50px;

}
.start-up{
    margin: 0px 0px 12px 0px;
    padding: 9px 18px 9px 18px !important;
    background-color: #FFDD0F !important;
    border-radius: 20px 20px 20px 20px !important;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.43em;
    letter-spacing: 2px;
}

button {
    font-size: 16px;
    border-style: none;
    text-transform: none;
    max-width: 300px;
    padding: 11px 32px !important;
    border-radius: 3px;
    line-height: 1.4;
    display: inline-block;
    border: 1px solid transparent;

}

button:hover {
    background: #8767f5;
}

.box-1 {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .box-1-img {
        padding: 15px;
        width: 100%;
        max-width: 520px;
        margin: 10px 0px;
        /* margin-left: 50px; */
    }

.header-text-container {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.08em;
    margin-bottom: 32px;
    color: white !important;
    width: 70%;

}

.text-container-circle {
    position: relative;
    top: 131px;
    left: 97px;

}

.footer-text-container {
    color: white !important;
    margin-bottom: 0;
    margin-top: 0;

}

.send-msg {
    margin-top: 30px;
    padding: 8px 31px !important;
}

.listing-wrap {
    width: 33%;
    margin-bottom: 30px;
    transition: all .3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .row{
    margin-top: 100px !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 0px 45px 0px;
} */
.listing-box-footer {
    font-size: 15px;
    line-height: 1.74;
    width: 80%;
    color: #cccccc;
    display: flex;
}

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 200px !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 0px 45px 0px;
    /* width: 50%; */
}

.box-3 {
    padding: 80px 0px;
}

.main-box-3 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-3-contant {
    align-content: center;
    align-items: center;
    padding: 15px 100px 15px 15px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.box-3-sub-header {
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #0057FC;
}
.box-3-footer-ul{
    display: flex;
    width: 100%;
}
.header-box-3 {
    margin-bottom: 12px !important;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.24em;
    padding: 0;
    margin: 0;
    /* width: 70%; */
}


.box-3-ul {
    display: flex;
   
    padding: 20px 0;
}

.currect {
    max-width: 100%;
    padding-right: 15px;
}

.main-box-4 {
    background: #ffdd2c;

}

.inner-box-4 {
    display: flex;

}

.box-4-img {
    max-width: 100%;
}

.box-4-sub-header {
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #333333;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.header-box-4 {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.24em;
    color: black;
    margin-bottom: 12px;
}

.footer-text-container-4 {
    font-size: 16px;
    color: #111111;
}

.read-more {
    background: transparent !important;
    padding: 10px 20px !important;

}

.read-more:hover {
    background: black !important;
    color: white !important;
    border: black !important;
}

.text-light {
    margin-bottom: 5px;
}

.text-light>span {
    font-size: 56px !important;
    font-weight: 600;
}

.value-sign {
    color: #0057FC;
}

.booking-box {
    background-color: #0057FC;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 80px;
}

.booking-content {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(http://sala.uxper.co/wp-content/uploads/2021/10/wave-11@2x.png);
    background-position: 100px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50% !important;
}

.booking-content>h3 {
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", Sans-serif;
    line-height: 1.24em;
}
.news-footer{
    position: relative;
    display: inline-block;
    z-index: 2;
    background: transparent !important;
    color: white;
    
}
.news-footer::after{
    
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #FFDD0F !important;
    z-index: -1;
}

    
.booking-content>h4 {
    font-size: 18px;
    color: #FFFFFF;
}

.booking-content>h2 {
    text-align: left;
    font: normal normal bold 36px/60px Montserrat;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.book-consultation {
    padding: 10px !important;
    margin: 5px;
    background: white !important;
    color: #FC9E21 !important;
    font-size: 25px !important;
}

.contact-img {
    max-width: 100%;
}

.newsletter {
    padding: 20px 0;
    
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 75% !important;
}
.newsletter-footer{
    display: flex;

}
.service{
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #0057FC;
    margin-bottom: 4px;
}
.service-footer{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 50px;
}

.service-single{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    padding: 28px 28px 28px 28px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #333333 !important;
    margin: 10px;
    width: 48% !important;
    color: #cccccc;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
}

.slider-box{
background: #252428 !important;
padding: 80px 0;
margin-top: 80px;
}

.count-box{
    width: 100% !important;
}














.active{
    color: #f9af18 !important;
    border-bottom: 2px solid;
}

.card{
    
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        padding: 60px 40px;
        background: white !important;
        box-shadow: 3px 3px 15px 0px rgb(228 228 228);
   
}
.card:hover{
    box-shadow: 0px 0px 17px 3px rgb(188 188 188);
}
.card-title{
    line-height: 40px;
    margin-bottom: 25px;
    color: #ffffff;
    font-family: "Sen", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.card-img-top {
    max-width: 50%;
    margin-left: 25%;  
}
 .card-body {
    flex: 1 1 auto;
    
    line-height: 30px;
}

.bg-color{
    height: 470px;
    background: #f9af18;    
    color: #ffffff;
    position: relative;
    width: 100%;
    border-radius: 0% 0% 35% 35%;
}
.relative-container{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.display-2 {
    font-size: calc(1.575rem + 3.9vw);  
    font-weight: 500 !important;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: "Sen", Sans-serif;
    font-size: 65px;
    font-weight: bold !important;
    margin-bottom: 20px;
    border-bottom: solid;
    margin-bottom: 10%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}




.main-slider-box{
    position: relative;
}

/* Next & previous buttons */
.prev , .next {
    cursor: pointer;
    position: absolute;
    top: 88px;
    right: 100%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    color: orange;
}

/* Position the "next button" to the right */
.next {
  left: 105%;
  border-radius: 3px;
  width: min-content;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: Product Name 1#222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides active{
display: inline-flex !important;
width: 100% !important;
}
.mySlides_container{
    display: flex !important;
}
.mySlides .mySlides_wrapper{
    padding: 40px;
    background-color: black;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    border-radius: 5px;
    margin: 0.125rem 0.125rem 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
}
.mySlides img{
width: 90% !important;
float: left;
}
.img-44{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;
    padding: 0 20px;

}
.person-dp{
    position: relative;
    top: 180px;
    border-radius: 53px;
}
.person-dp-name{
    position: relative;
    top: 150px;
    color: #032e42 !important;
    font-family: "Sen", Sans-serif !important;
    font-size: 18px;
    margin: 0px 0px -4px 0px;
    font-style: normal !important;
    font-weight: 700;
}
.img-33{
    display: flex;

}
.slider-item-name{
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 17px;
    line-height: 33px;
    width: 75%;
    text-align: center;
    padding: 10px 10px;
    
}
.display-3{
    color: #1e223c;
    font-size: 1.5rem !important;
    margin: 0 7px;
    line-height: 1.33 !important;
    font-weight: 700 !important;
    text-align: start;
    margin-top: 100px;
}
.sub-heading{
    margin: 0;
    font-size: .875rem;
    line-height: 1.43;
    margin: 0px 7px;
    padding: 5px 0;
}
.user-img{
    border-radius: 50%;
    
}
.user-img>img{
    border-radius: 50%; 
}
.user-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: #ffffff;
    margin-bottom: 0;
}
.user-details{
    color: #cccccc;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
}
.likes-details{
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .02rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1.6rem;
}
.dislikes-details{
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .02rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 29px;
}

.profile-2{
    margin: 20px 0 !important;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.profile-status{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.thoughts{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33em;
    text-align: left;
    list-style: none;
    color: #cccccc;
}
.card-img-top {
    max-width: 100% !important;
    margin:0px !important;
}
.blog-card{
    padding: 0px !important;
    background: transparent !important;
    color: white !important;
    box-shadow: none !important;
}
.card-title >a {
    color: #aaaaaa !important;
    text-decoration:none;
}
.card-title >a:hover{
    color: #0057FC !important;
}
.card-text >a{
    font-size: 24px !important;
    line-height: 1.33 !important;
    text-decoration: none !important;
    color: #cccccc;
}
.card-text >a:hover{
    color: #0057FC !important;
}
.blog-box-top {
    padding: 80px 0px 60px 0px;
}

.main-box-6 {
    background-color: #1166fc;
    background-image: url(http://sala.uxper.co/wp-content/uploads/2021/08/photo-1559136656-3db4bf6c35f8.jpeg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 60% auto;
    margin: 50px 0;
}
.box-6-contant {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0px 100px 15px;
    width: 399px;
    max-width: 399px;
    z-index: 2;
}
.devider-right{
    position: relative;
    border: 1px solid white !important;
}
.box-6-sub-header{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3em;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.elementor-kit-3655 {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.24em;
}
.devider-right:after {
    content: '';
    position: absolute;
    top: -352px;
    right: -470px;
    bottom: 0;
    background: radial-gradient(circle at 217% 25%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 50%, #0057fc 50%, #0057fc 100%);
    background-size: 200% 200%;
    height: 1128%;
    width: 173px;
    z-index: 1;
}
.footer-text-container-6{
    font-size: 18px;
    color: #FFFFFF;
    color: #eeeeee;
}
.text-reset{

    text-decoration: none !important;
}
.input-group-2{
    width: 100%;
}
.input-field{
    background-color: #252428 !important;
    border-radius: 0px !important;
    margin: 0px !important;
}
.submit-field{
    background-color: #0057fc !important;
    border: none !important;
    max-width: 300px;
    padding: 10px 15px !important;
}
.lower-footer{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {

    .box-1 {
        
        margin-top: 0px;
    }
    .box-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;   
    }
    .box-3 {
        padding: 80px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .text-container-circle {
        position: relative;
        top: 144px;
        left: -29px;
    }
    .main-box {
        flex-direction: column;
    }   
    .listing-wrap {
        width: 100%;
    }
    .header-text-container { 
        width: 100%;
     }
     .box-3-contant {
       
        width: 100%;
        padding: 5px !important;
    }

    .box-3-footer-ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-img{
        display: none;
    }
    .booking-content {
     width: 100% !important;
    }
    .count-box{
        width: 50% !important;
    }
    .card-body-contant {
        padding-left: 10px;
    }
    .service-single{
        width: 46% !important;
}

    @media only screen and (max-width: 480px) {
       
        .header-text-container { 
            width: 100%;
         }
         .box-3-contant {
       
            width: 100%;
            padding: 5px !important;
        }
        .box-4-img{
            display: none !important;
        }
        .service-single {
            width: 100% !important;
            justify-content: center;
            align-items: flex-start;
        }
        .card-body {
            flex: 1 1 auto;
            text-align: center;
            line-height: 30px;
        }
        .input-group>.form-control, .input-group>.form-select {
            position: relative;
            flex: 1 1 auto;
            width: 100% !important;
            min-width: 0;
        }
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
}