* {
    box-sizing: border-box;
}
body{
    background: black !important;
}

.navbar {
    background-color: #252428;
    color: #FFFFFF;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.site-header{
    padding: 0 35px;
}
.alpha-header{
    /* width: 100%; */
}
.navbar-collapse {
    justify-content: space-evenly;
    text-transform: capitalize;
}

.navbar-nav {

    text-transform: uppercase;
}

.nav-link {
    color: white !important;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    padding: 40px 0 !important;
    position: relative;
    

}
.nav-item {
    color: #032e42 !important;
}

.nav-item :hover {
    border-bottom: 2px solid #0057FC;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: white !important;

}
.nav-item ::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top-width: 0.143em;
    border-top-style: solid;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-color: #0057fc;
}


.schedule_btn {
    margin-left: 50px;

}

button {
    font-size: 16px;
    border-style: none;
    text-transform: none;
    max-width: 300px;
    padding: 11px 32px !important;
    border-radius: 3px;
    line-height: 1.4;
    display: inline-block;
    border: 1px solid transparent;
    
}

button:hover {
    background: #8767f5;
}

.box-1{
    display: flex;
    margin-top: 100px;
}
.box-1-img{
    padding: 15px;
    width: 100%;
    max-width: 520px;
    margin-left: 50px;
}
.header-text-container{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.08em;
    margin-bottom: 32px;
    color: white !important;
    width: 70%;
}
.footer-text-container{
    color: white !important;
    margin-bottom: 0;
    margin-top: 0;
}



@media screen and (max-width: 980px) {

   

}

@media screen and (max-width: 768px) {

   


}

@media only screen and (max-width: 480px) {
   

}