* {
    box-sizing: border-box;
}

body {
    background: black !important;
    color: white !important;
}

.navbar {
    background-color: #252428;
    color: #FFFFFF;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.site-header {
    padding: 0 35px;
}

.alpha-header {
    /* width: 100%; */
}

.navbar-collapse {
    justify-content: space-evenly;
    text-transform: capitalize;
}

.navbar-nav {

    text-transform: uppercase;
}

.nav-link {
    color: white !important;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    padding: 40px 0 !important;
    position: relative;


}

.nav-item {
    color: #032e42 !important;
}

.nav-item :hover {
    border-bottom: 2px solid #0057FC;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: white !important;

}

.nav-item ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top-width: 0.143em;
    border-top-style: solid;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-color: #0057fc;
}


.schedule_btn {
    margin-left: 50px;

}

button {
    font-size: 16px;
    border-style: none;
    text-transform: none;
    max-width: 300px;
    padding: 11px 32px !important;
    border-radius: 3px;
    line-height: 1.4;
    display: inline-block;
    border: 1px solid transparent;

}

button:hover {
    background: #8767f5;
}

.box-1 {
    display: flex;
    margin-top: 100px;
}

.box-1-img {
    padding: 15px;
    width: 100%;
    max-width: 520px;
    margin-left: 50px;
}

.header-text-container {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.08em;
    margin-bottom: 32px;
    color: white !important;
    width: 70%;

}

.text-container-circle {
    position: relative;
    top: 80px;
    left: 90px;



}

.footer-text-container {
    color: white !important;
    margin-bottom: 0;
    margin-top: 0;

}

.send-msg {
    margin-top: 30px;
    padding: 8px 31px !important;
}

.listing-wrap {
    width: 100%;
    margin-bottom: 30px;
    transition: all .3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .row{
    margin-top: 100px !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 0px 45px 0px;
} */
.listing-box-footer {
    font-size: 15px;
    line-height: 1.74;
    width: 80%;
    color: #cccccc;
    display: flex;
}

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 200px !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 0px 45px 0px;
}
.box-3{
    padding: 80px 0px;
}
.main-box-3{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.box-3-contant{
    align-content: center;
    align-items: center;
    padding: 15px 100px 15px 15px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-3-sub-header{
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #0057FC;
}
.header-box-3{
    margin-bottom: 12px !important;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.24em;
    padding: 0;
    margin: 0;
    /* width: 70%; */
}


.box-3-ul{
    display: flex;
    width: 50% !important;
    padding: 20px 0;
}
.currect{
    max-width: 100%;
    padding-right: 15px;
}
.main-box-4{
    background: yellow;

}
.inner-box-4{
    display: flex;

}
.box-4-img{

}
.box-4-sub-header{
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #333333;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.header-box-4{
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.24em;
    color: black;
    margin-bottom: 12px;
}
.footer-text-container-4{
    font-size: 16px;
    color: #111111;
}
.read-more{
    background: transparent !important;
    padding: 10px 20px !important;

}
.read-more:hover{
    background: black !important;
    color: white !important;
    border: black !important;
}

















@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {
    /* .col-7 {
        display: none;
    }

    .col-5 {
        width: 100% !important;
    }
} */

@media only screen and (max-width: 480px) {}